<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      <a href="http://todayblocks.herokuapp.com/">Today Blocks</a>
      is a time management app being developed by
      <a href="http://brianindig.com/">Brian Indig</a>. 
    </p>

