<div class="center hero-unit">
  <h1>Welcome to Today Blocks</h1>

  <h2>
  Ready to plan your day? Great! 
  </h2>

  <%= link_to "Sign up!", 'signup', class: "btn btn-large btn-primary" %>
  <%= link_to "I don't have time to sign up. LET'S GO!", 'blocks', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
